doctype html
html
    head
       
        title Color Cafe- Best Food Here 
        block script 
        block style
    body
        nav#navbar 
            img(src="/static/logo/1.png", alt="logo")
            ul 
                li #[a(href='/') Home]
                li #[a(href='/menu') Menu]
                li #[a(href='/photos') Photos]
                li #[a(href='/review') Review]
                li #[a(href='/contact') Contact]
            button Call Us  
        block content 
        section#footer1 
            div.footcon-1
                div.box8
                    h3 Contact us
                    ul 
                        li +8801776-691637
                        li colorcafe.biz@gmail.com 
                        li 373/B, 3rd floor, Khilgaon,Taltola.
                        li Dhaka, Bangladesh
                div.box8 
                    h3 Our Story 
                    p We believe Color is a power which directly influences the soul. Color is the place where our brain and universe meet. There is no beauty without Color. Every single color in the world has its own story. Color inspires us to start this journey of “COLOR CAFE”
                div.box8 
                    h3 Location 
                    ul 
                        li Address
                        li 373/B, 3rd floor, Khilgaon,Taltola.
                    div.box9 
                        img(src="/static/icon/9.png", alt="")    
                        img(src="/static/icon/10.png", alt="")    
                        img(src="/static/icon/11.png", alt="")    
            div.footcon-2 
                div.box10 
                    |   Copyright &copy; 2021 www.colorcaferestaurant.com | All rights reserved         
                               
                