extends base.pug 
block script 
    script(src='/static/index.js')
block style 
    style 
      include ../static/style.css 
      include ../static/styleContact.css 
block content 
    section#contactintro 
        h1 Our Cafe 
    section#contact 
        div.cafe-1 
            div.head 
                h1 Get in touch 
            div.form 
                form(action="/contact",method="post")
                    input(type="text",class="myInput",name="name",placeholder=" name")     
                    input(type="text",class="myInput",name="name",placeholder=" email")     
                    input(type="text",class="myInput",name="name",placeholder="message") 
                button.btn 
                    |    Submit        
                        
        div.cafe-2 
            div.map 
                img(src="/static/img/map.jpg", alt="")  
            div.info 
                h3 Contact Info 
                div.contactbox 
                    ul
                        img(src="/static/icon/12.png", alt="")
                        li  373/B, 3rd floor, Khilgaon,Taltola. Dhaka, Bangladesh
                div.contactbox 
                    ul         
                        img(src="/static/icon/13.png", alt="")
                        li  8801776-691637 
                div.contactbox
                    ul      
                        img(src="/static/icon/14.png", alt="")
                        li  info@colorcafe.biz
                           