doctype html
html
    head
        
        title Color Cafe|@colorcaferestaurant
        style 
            include ../static/style.css
    body
        nav#navbar 
            img(src="/static/logo/1.png", alt="logo")
            ul 
                li #[a(href='/') Home]
                li #[a(href='/') Menu]
                li #[a(href='/') Photos]
                li #[a(href='/') Review]
                li #[a(href='/') Contact]
            button Call Us 
        section#intro 
            h1 Color Cafe Restaurant
            h2 Best Food at Best Place... Taste of Multi cuisine. 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. A iusto officia perspiciatis.
            div.btn-1
                button  Visit Us!  
        section#time 
            div.box 
                h1 A colorful and fun cafe that brought together food cultures of the whole world in Khilgaon.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus excepturi quos quibusdam iusto deleniti voluptas ipsa voluptatum sed accusantium? Aliquam ullam unde repudiandae soluta voluptatem commodi veniam nobis totam quas et. Magnam.
            div.con-1 
                div.box-1 
                    h2 Hours 
                    h3 Monday & Sunday
                    h4 11:00 am – 4:00 am 
                div.box-1 
                    h2 Hours 
                    h3 Monday & Sunday
                    h4 11:00 am – 4:00 am 
                div.box-1 
                    h2 Hours 
                    h3 Monday & Sunday
                    h4 11:00 am – 4:00 am         
        section#wings 
            | wings 
        section#menu 
            div.head 
                h1 Our Signature Dish 
            div.menu1 
                div.mainmenu 
                    h3 Coffee
                    img(src="/static/icon/1.png", alt="coffee")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. A numquam blanditiis sapiente modi recusandae placeat cum natus, quaerat consequatur unde. 
                div.mainmenu 
                    h3 Drinks
                    img(src="/static/icon/2.png", alt="coffee")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio aliquid voluptatibus libero dolorum voluptas in architecto quia, et tempora eius. 

                div.mainmenu 
                    h3 Fastfood
                    img(src="/static/icon/3.png", alt="coffee") 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima in, omnis molestiae laboriosam sint harum inventore eligendi culpa error neque?            
        
        section#food 
            div.container-1 
                div.foodbox1
                    h3 Color Cafe Food
                    h1 GRAB A BITE 
                    button Menu 
                div.foodbox2
                    img(src="/static/img/23.jpg", alt="") 
                div.foodbox1
                    h3 Color Cafe Food
                    h1 GRAB A BITE 
                    button Menu      
                    
            div.container-1
                div.foodbox2
                    img(src="/static/img/24.jpg", alt="")  
                div.foodbox1
                    h3 Color Cafe Food
                    h1 GRAB A BITE 
                    button Menu  
                div.foodbox2 
                    img(src="/static/img/25.jpg", alt="") 
                 
        section#customer 
            div.container-3 
                div.box6 
                    h1 Love from customer 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id architecto dolorem numquam.
                div.box7 
                    img(src="/static/customer/ema.png", alt="") 
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos sint officiis eligendi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur assumenda veritatis, molestiae, ducimus corporis esse nobis perferendis temporibus, inventore nemo est. Libero amet repudiandae vitae! Voluptatem ex sed vero incidunt!        
        section#footer1 
            div.box8
                h3 Contact us
                ul 
                    li +8801776-691637
                    li colorcafe.biz@gmail.com 
                    li 373/B, 3rd floor, Khilgaon,Taltola.
                    li Dhaka, Bangladesh
            div.box8 
                h3 Our Story 
                p We believe Color is a power which directly influences the soul. Color is the place where our brain and universe meet. There is no beauty without Color. Every single color in the world has its own story. Color inspires us to start this journey of “COLOR CAFE”
            div.box8 
                h3 Location 
                ul 
                    li Address
                    li 373/B, 3rd floor, Khilgaon,Taltola.
                div.box9 
                    img(src="/static/icon/9.png", alt="")    
                    img(src="/static/icon/10.png", alt="")    
                    img(src="/static/icon/11.png", alt="")    


        footer#footer2 
            |    Copyright &copy; 2021 www.colorcaferestaurant.com | All rights reserved                        
                
        script 
            include ../static/index.js 