extends base.pug 
block script 
    script(src='/static/index.js')
block style 
    style 
      include ../static/style.css 
      include ../static/styleMenu.css 
block content 
    section#menuintro
        div.headline 
            h1 Our Menu
    section#menu1 
        div.menubox 
            ul 
                li Quick Bites	       ......................................
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Popcorn (10 pcs)	...............................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
               
        div.menubox1
            img(src="/static/img/26.jpg", alt="")
    section#menu2 
        div.menubox2 
            img(src="/static/img/30.jpg", alt="")
        div.menubox3 
            ul 
                li Pizza 	            ......................................
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Popcorn (10 pcs)	...............................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180    
    section#menu3 
        div.menubox4 
            ul 
                li Quick Bites	       ......................................
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Popcorn (10 pcs)	...............................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
                li Chicken Momo (6 pcs)	...................................................৳180
               
        div.menubox5
            img(src="/static/img/34.png", alt="")
