extends base.pug 
block script 
    script(src='/static/index.js')
block style 
    style 
      include ../static/style.css 
      include ../static/stylePhotos.css 
block content
    section#photosintro 
        h1 Our Gallary
    section#photos
        div.row1 
            div.pic1 
                img(src="/static/photos/5.jpg", alt="")
            div.pic1
                img(src="/static/photos/6.jpg", alt="")
            div.pic1
                img(src="/static/photos/7.jpg", alt="")
            

        
    section#photos1
        div.row4 
            div.pic2 
                img(src="/static/photos/11.jpg", alt="")
            div.pic2
                img(src="/static/photos/12.jpg", alt="")
            div.pic2
                img(src="/static/photos/13.jpg", alt="")
            

        div.row3 
            div.pic2
                img(src="/static/photos/9.jpg", alt="")
            div.pic2
                img(src="/static/photos/10.jpg", alt="")
            div.pic2
                img(src="/static/photos/14.jpg", alt="")  
    section#photos2
        div.row5 
            div.pic3
                img(src="/static/photos/1.jpg", alt="")
            div.pic3
                img(src="/static/photos/2.jpg", alt="")
            div.pic3
                img(src="/static/photos/3.jpg", alt="")
                                  
            
            