extends base.pug 
block script 
    script(src='/static/index.js')
block style 
    style 
      include ../static/style.css 
      include ../static/styleReview.css 
block content 
    section#reviewintro 
        h1 Customer's lovely opinion 
    section#review 
        h1 Love from customers
        img(src="/static/customer/ema.png", alt="")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit sunt perspiciatis debitis quisquam unde omnis blanditiis deleniti facilis neque atque! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia esse, obcaecati voluptatum vel consectetur possimus repellendus ut vero, praesentium commodi eaque nam atque ipsa natus voluptates blanditiis perferendis magni. Quam.
    section#review 
        h1 Love from customers
        img(src="/static/customer/fariya1.png", alt="")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit sunt perspiciatis debitis quisquam unde omnis blanditiis deleniti facilis neque atque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt tenetur ex ipsum accusantium sint officia ipsa minus? Quibusdam esse quia, fugit placeat dignissimos voluptas incidunt a. Dicta, deserunt! Aut, deleniti!
    section#review 
        h1 Love from customers
        img(src="/static/customer/sinan.png", alt="")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit sunt perspiciatis debitis quisquam unde omnis blanditiis deleniti facilis neque atque! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, vero earum ex rem aut neque deleniti natus eveniet. Sapiente explicabo necessitatibus animi veniam deserunt nam delectus quasi iure dolore ipsa?       